<a href="{{ section.settings.url }}">
    <div class="home-feature-eos-hero__template" data-title="{{ section.settings.title }}">
        <div class="home-feature-eos-hero__template--container">
            <h2>{{ section.settings.title }}</h2>
        </div> 
    </div> 
</a>
<style> 
    .home-feature-eos-hero__template {
        background-image: url({{ section.settings.hero-desktop | img_url: 'master' }});
        background-position: center bottom;                       
        background-repeat: no-repeat;
        background-size: cover;             
        height: 660px;           
    }
    @media (min-width: 1441px) {
        .home-feature-eos-hero__template {
            background-image: url({{ section.settings.hero-desktop | img_url: 'master' }});
            background-position: center bottom;                       
            background-repeat: no-repeat;
            background-size: cover;             
            height: 860px;           
        }
    }
    @media (min-width: 481px) and (max-width: 768px) {
        .home-feature-eos-hero__template {
            background-image: url({{ section.settings.hero-mobile | img_url: 'master' }}); 
            background-position: center bottom;                      
            background-repeat: no-repeat;
            background-size: cover;           
            height: 492px;           
        }
    }
    @media screen and (max-width: 480px) {
        .home-feature-eos-hero__template {  
            background-image: url({{ section.settings.hero-mobile | img_url: 'master' }}); 
            background-position: center bottom;                      
            background-repeat: no-repeat;
            background-size: cover;         
            height: 255px;           
        }
    }
</style>
{% stylesheet 'scss' %}
    .home-feature-eos-hero {  
        margin-top: -64px;  
        @media screen and (max-width: 768px) {
            margin-top: 0;
            padding: 0;
        }                    
        .home-feature-eos-hero__template {      
            .home-feature-eos-hero__template--container {
                h2 {
                    display: none;
                }
            }
        }
    }
{% endstylesheet %}
{% schema %}
    {
        "name": "EOS Hero",
        "class": "home-feature-eos-hero",
        "tag": "section",    
        "settings": [
            {
                "type": "image_picker",
                "id": "hero-desktop",
                "label": "Hero Desktop"
            },
            {
                "type": "image_picker",
                "id": "hero-mobile",
                "label": "Hero Mobile"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Hero Title",
                "default": "The Beach Bum Gets an Upgrade"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Hero Url"
            }
        ]
    }
{% endschema %}